body {
  padding: 0;
  margin: 0;
}
#game > div {
  border: 1px solid black;
  border-radius: 5px;
  width: 18%;
  height: 200px;
  margin: 10px 0.8% ;
  display: inline-block;
  transition: ease 0.5s;
  cursor: pointer;
}

h2 {
  font-family: 'Lato', 'Arial';
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  height: 60px;
  margin: 5px; 
}

h1 {
  font-family: 'Lato', 'Arial';
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

button {
  background: linear-gradient(#21b921, #187518);
  color: white;
  font-family: 'Lato', 'Arial';
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  margin: 15px auto;
  display: block;
  cursor: pointer;
}

.orange-revealed {
  background-color: orange;

}

.red-revealed {
  background-color: red;

}

.blue-revealed {
  background-color: blue;

}

.green-revealed {
  background-color: green;

}

.purple-revealed {
  background-color: purple;
}

